.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: rgb(79, 163, 145);
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
    position: relative;
  }

  .close-button {
    position: absolute;
    width: auto !important;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 0;
    display: inline;
  }

  .modal-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .modal-content button {
    width: 100%;
    padding: 10px;
    background-color: darkslategray;
    color: white;
    font-size: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .modal-content button:hover {
    background-color: #53857a;
  }