.App {
  text-align: center;
}

.App-header {
  background-color: #003535;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 2px 2px 3px black;
}

.App-link {
  color: #61dafb;
}

.login-container {
  width:fit-content;
  max-width:500px;
  min-width:250px;
  margin: 80px auto;
  padding: 40px;
  background-color: #006969;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to right, #004d4d, #006969);
}

label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  font-family:'Courier New', Courier, monospace;
  text-shadow: none;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
input:focus {
  border-color: #53857a;
  outline: none;
}

button {
  width: 100%;
  margin:1px;
  padding: 12px;
  background-color: #003535;
  color: white;
  font-size: 15px;
  font-family:'Courier New', Courier, monospace;
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor:pointer;
  transition: background-color 0.3s;
}
button:hover {
  background-color: #18b6b6;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
  background: linear-gradient(to right, #65e6e660, #00353565);
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-profile {
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  font-size: 14px;
  font-family:'Courier New', Courier, monospace;
  box-sizing: border-box;
  transition: border-color 0.3s;
}
input:focus {
  border-color: #53857a;
  outline: none;
}

.form-profile label {
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  font-family:'Courier New', Courier, monospace;
}

select {
  font-family: 'Courier New', Courier, monospace;
  color: #000;
  font-size:17px;
}

.react-datepicker__day {
  text-shadow: none;
  font-family:'Courier New', Courier, monospace;
}

.react-datepicker__header {
  text-shadow: none;
  font-family:'Courier New', Courier, monospace;
}


/* EventForm Styles */

.form-container {
  width: 90%;
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  color: #ecf0f1;
  text-shadow: 1px 1px 2px black;
}

.form-input,
.form-select input,
.form-select .react-select__control {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  transition: border-color 0.3s;
  background-color: #34495e;
  color: white;
}

.form-input:focus,
.form-select input:focus,
.form-select .react-select__control--is-focused {
  border-color: #1abc9c;
  outline: none;
}

.form-select .react-select__control {
  background-color: #34495e;
  border-color: #ccc;
  color: white;
}

.form-select .react-select__menu {
  background-color: #34495e;
  color: white;
}

/* MatchingForm Styles */

.matching-container {
  width: 100%;
  max-width: 800px;
  min-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #2c3e50;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.matching-content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 20px 0;
}

.matching-column {
  width: 45%;
}

.matching-column h2 {
  margin-top: 20px;
}

/* Datepicker */
.form-datepicker {
  width: 100%;
  padding: 10px;
  background-color: #34495e;
  color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Submit Button */
.form-button {
  width: 100%;
  padding: 12px;
  background-color: #1abc9c;
  color: white;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #16a085;
}

.profile-title {
  padding-top: 30px;
}

/*Notifications page sections*/
.section {
  margin: 20px auto;
  max-width: 800px;
  padding: 15px;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  background-color: #003535;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.7);
}
.section h3 {
  margin:10px auto;
  max-width:400px;
  border-radius: 8px;
  border:1px dashed whitesmoke;
  box-shadow: 0 0 7px rgba(0, 255, 255, 0.7);
}

